<h1>Edit Movie #<%= @the_movie.id %></h1>

<p>
  <a href="/movies/<%= @the_movie.id %>" target="_blank">View Movie Details</a>
</p>

<form action="/backdoor/modify_movie/<%= @the_movie.id %>" method="post">

  <div>
      <label for="movie_title">Movie Title</label>
      <input type="text" id="movie_title" name="query_title" value="<%= @the_movie.title %>">
  </div>

  <div>
      <label for="movie_year">Year</label>
      <input type="text" id="movie_year" name="query_year" value="<%= @the_movie.year %>">
  </div>

  <div>
    <label for="movie_duration">Movie Duration (minutes)</label>
    <input type="integer" id="movie_duration" name="query_duration" value="<%= @the_movie.duration %>">
  </div>

  <div>
    <label for="movie_description">Description</label>
    <textarea id="movie_description" name="query_description" rows="3" value="<%= @the_movie.description %>"></textarea>
  </div>

  <div>
    <label for="movie_image">Image URL</label>
    <input type="text" id="movie_image" name="query_image_url">
  </div>

  <div>
      <label for="movie_director_box">Director</label>
      <select id="movie_director_box" name="query_director_id">
        <option value="">Select a director...</option>
        <% Director.all.order({ :last_name => :asc }).each do |a_director| %>
          <option value="<%= a_director.id %>">
            <%= a_director.first_name %> <%= a_director.last_name %>
          </option>
        <% end %>
      </select>
  </div>

  <div>
    <label for="movie_release_date">Release Date</label>
    <input type="date" id="movie_release_date" name="query_release_date">
  </div>

  <div>
    <label for="movie_cohort">Oscar Cohort</label>
    <input type="integer" id="movie_cohor" name="query_oscar_cohort">
  </div>

    <fieldset>
      <legend>Result</legend>
      <input type="radio" id="movie_result_nominated" name="query_result" value="nominated" checked>
      <label for="movie_result_nominated">Nominated</label>
      <input type="radio" id="movie_result_won" name="query_result" value="won">
      <label for="movie_result_won">Won</label>
      <input type="radio" id="movie_result_did_not_win" name="query_result" value="did not win">
      <label for="movie_result_did_not_win">Did not win</label>
    </fieldset>

<button type="submit">
  Update Movie
</button>
